// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.card-img-top {

}
.card-body {
    padding: 0;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-evenly;
}