@use "../abstract/variable"as var;
@use "../base/typography"as ty;
body{
    background-color: var.$Light-gray;
}

.card{
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
    position: absolute;
   padding: 1rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   
        .card-body{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
            gap: 1rem;
           
            h1{
            color: var.$Dark-blue;
            font-size: 1.2rem;
            font-weight: ty.Weight(bold);
            }

            p{
            color: var.$Grayish-blue;
            font-size: 1rem;
            font-weight: ty.Weight(light);
            }
        }
    
}
